{% extends "base.html" %}

{% block title %}{{title}}{% endblock title %}

{% block content %}


    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>{{title}}</h2>
                        <div class="breadcrumb__option">
                            <a href="./index.html">Home</a>
                            <span>{{title}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

<!-- Contact Section Begin -->
<section class="contact spad">
    <div class="container">
        <div class="row">

            <!-- Phone -->
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_phone"></span>
                    <h4>Phone</h4>
                    <p>+998-93-702-7485</p>
                </div>
            </div>

            <!-- Address -->
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_pin_alt"></span>
                    <h4>Address</h4>
                    <p>Amir Temur Ave 108, Tashkent, Uzbekistan</p>
                </div>
            </div>

            <!-- Open Time -->
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_clock_alt"></span>
                    <h4>Open Time</h4>
                    <p>09:00 AM to 10:00 PM</p>
                </div>
            </div>

            <!-- Email -->
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_mail_alt"></span>
                    <h4>Email</h4>
                    <p>bniyozov73@gmail.com</p>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Contact Section End -->


  <!-- Map Begin -->
<div class="map">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d47954.08297357768!2d69.17716366016557!3d41.29949584449142!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8b5537b6742f%3A0x63eb03fa74b6aa9b!2sTashkent%2C%20Uzbekistan!5e0!3m2!1sen!2s!4v1718881787092!5m2!1sen!2s"
        height="500" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
    </iframe>
    <div class="map-inside">
        <i class="icon_pin"></i>
        <div class="inside-widget">
            <h4>Tashkent</h4>
            <ul>
                <li>Phone: +998-93-702-7485</li>
                <li>Add: Amir Temur Ave., Tashkent, Uzbekistan</li>
            </ul>
        </div>
    </div>
</div>
<!-- Map End -->

    <!-- Contact Form Begin -->
    <div class="contact-form spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="contact__form__title">
                        <h2>Leave Message</h2>
                    </div>
                </div>
            </div>
            <form action="{% url 'common:contact-message-handler' %}" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <input id="name" name="name" type="text" placeholder="Your name">
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <input id="email" name="email" type="text" placeholder="Your Email">
                    </div>
                    <div class="col-lg-12 text-center">
                        <textarea id="message" name="message" placeholder="Your message"></textarea>
                        <button type="submit" class="site-btn">SEND MESSAGE</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Contact Form End -->

{% endblock %}