{% extends "base.html" %}
{% load static %}

{% block title %}{{ product.name }}{% endblock title %}

{% block content %}
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb.jpg' %}">
    <div class="container text-center">
        <div class="breadcrumb__text">
            <h2>{{ product.name }}</h2>
            <div class="breadcrumb__option">
                <a href="{% url 'home' %}">Home</a>
                <a href="#">{{ product.category.name }}</a>
                <span>{{ product.name }}</span>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Product Details Section Begin -->
<section class="product-details spad">
    <div class="container">
        <div class="row">
            <!-- Product Image -->
            <div class="col-lg-6 col-md-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__item">
                        <img class="product__details__pic__item--large"
                             src="{{ product.image.url|default_if_none:static('img/product/details/product-details-1.jpg') }}"
                             alt="{{ product.name }}">
                    </div>
                    {% if product.default_images.all %}
                    <div class="product__details__pic__slider owl-carousel">
                        {% for img in product.default_images.all %}
                            <img data-imgbigurl="{{ img.file.url }}" src="{{ img.file.url }}" alt="">
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>

            <!-- Product Info -->
            <div class="col-lg-6 col-md-6">
                <div class="product__details__text">
                    <h3>{{ product.name }}</h3>
                    <div class="product__details__price">${{ product.price }}</div>
                    <p>{{ product.description }}</p>

                    <div class="product__details__quantity">
                        <form method="post" action="{% url 'add_to_cart' product.id %}">
                            {% csrf_token %}
                            <div class="quantity">
                                <div class="pro-qty">
                                    <input type="number" name="quantity" value="1" min="1" max="{{ product.stock }}">
                                </div>
                            </div>
                            <button type="submit" class="primary-btn">ADD TO CART</button>
                        </form>
                        <a href="#" class="heart-icon"><span class="icon_heart_alt"></span></a>
                    </div>

                    <ul>
                        <li><b>Availability</b> <span>{% if product.stock > 0 %}In Stock{% else %}Out of Stock{% endif %}</span></li>
                        <li><b>Brand</b> <span>{{ product.brand.name }}</span></li>
                        <li><b>Category</b> <span>{{ product.category.name }}</span></li>
                        <li><b>Share on</b>
                            <div class="share">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Product Tabs -->
            <div class="col-lg-12">
                <div class="product__details__tab">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#desc">Description</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#info">Information</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#reviews">Reviews (0)</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="desc" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <h6>Product Description</h6>
                                <p>{{ product.description }}</p>
                            </div>
                        </div>
                        <div class="tab-pane" id="info" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <h6>Additional Info</h6>
                                <ul>
                                    {% if variant.color %}<li>Color: {{ variant.color.name }}</li>{% endif %}
                                    {% if variant.size %}<li>Size: {{ variant.size.name }}</li>{% endif %}
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane" id="reviews" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <p>No reviews yet.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Product Details Section End -->

{% endblock content %}
